.DS_Store
software/openthread_app/openthread_cli_arduino/_build/nrf52840_xxaa/*
software/openthread_app/openthread_cli_arduino/.vscode
software/openthread_app/openthread_ncp_dongle/Output/Debug/Obj/*
software/openthread_app/openthread_ncp_dongle/Output/Release/Obj/*
software/openthread_app/openthread_cli_dk/Output/Debug/Obj/*
software/openthread_app/openthread_cli_dk/Output/Release/Obj/*
software/openthread_app/openthread_cli_ftd_arduino/Output/Debug/Obj/*
software/openthread_app/openthread_cli_ftd_arduino/Output/Release/Obj/*

software/ble_app/ble_app_beacon_dongle/Output/Release/Obj/*
software/ble_app/ble_app_beacon_dongle/Output/Debug/Obj/*
software/ble_app/ble_app_beacon_arduino/Output/Release/Obj/*
software/ble_app/ble_app_beacon_arduino/Output/Debug/Obj/*
software/ble_app/ble_app_beacon_dk/Output/Release/Obj/*
software/ble_app/ble_app_beacon_dk/Output/Debug/Obj/*
software/ble_app/ble_app_central_attempt2_dk/Output/Release/Obj/*
software/ble_app/ble_app_central_attempt2_dk/Output/Debug/Obj/*
software/ble_app/ble_app_central_dk_wlocation/Output/Debug/Obj/*
software/ble_app/ble_app_central_dk_wlocation/Output/Release/Obj/*
software/python/py_ble/.ipynb_checkpoints
